:host {
    color: #1E3740;
    font-family: 'Poppins', sans-serif;
    }
    .course-detail {
    background-color: #dce1e8;
    height: 100%;
    display: flex;
    padding: 28px;
    &__form {
    flex-grow: 1;
    padding: 24px 32px;
    background-color: white;
    margin-right: 32px;
    height: fit-content;
    }
    &__info {
    min-width: 320px;
    background-color: white;
    padding: 24px;
    height: fit-content;
    }
    }
    .form {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    &__title {
    font-size: 20px;
    margin-bottom: 16px;
}
&__fieldset {
width: calc(50% - 8px);
position: relative;
display: block;
& label {
display: block;
margin-bottom: 8px;
font-size: 16px;
}
&--full,
&--checkbox {
width: 100%;
}
&--checkbox {
display: flex;
align-items: center;
gap: 8px;
& label {
margin-bottom: 0;
}
}
}
&__input {
width: calc(100% - 32px);
padding: 16px;
border: 1px solid #dce1e8;
border-radius: 4px;
font-size: 16px;
&:not(.form__input--error):focus {
outline: none;
border: 1px solid #A1E6C5;
}
&--error {
outline: none;
border: 1px solid #b3001b;
}
}
&__error {
color: #b3001b;
font-size: 12px;
margin-top: 8px;
width: 100%;
}
&__button {
background-color: #A1E6C5;
border: none;
color: #1E3740;
cursor: pointer;
font-family: sans-serif;
font-size: 16px;
padding: 8px 16px;
margin-top: 16px;
&:hover {
background-color: #8dd7b3;
}
&:disabled {
background-color: #dce1e8;
cursor: not-allowed;
}
}
}
.course-info {
  
&__summary {
font-size: 20px;
margin-bottom: 16px;
}
&__title {
font-size: 16px;
margin-bottom: 8px;
font-weight: bold;
}
&__description {
font-size: 14px;
margin-bottom: 24px;
}
&__price {
font-size: 16px;
margin-bottom: 8px;
}
}
