.courses-list {
    padding: 32px;
    &__title {
    color: #1E3740;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 32px 0;
    }
    &__container {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
    }
    }
    